<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>유튜브 댓글 추첨</title>
  <script>
    function onResponse(result){
      // 화면에 뿌려주기
      for(var i = 0; i<result.length; i++){
        var commentElement = document.createElement('p');
        commentElement.innerHTML = result[i].authorDisplayName + ': ' + result[i].textOriginal;

        var commentListElement = document.getElementById('commentList');
        commentListElement.appendChild(commentElement);
      }
    }

    // 버튼 누르면
    function doRaffle() {
      // link, count값을 읽어
      var link = document.getElementById('link').value;
      var count = document.getElementById('count').value;
      var url = '/api/' + link + '?count=' + count;
      if(count < 1){
        window.alert("최소 추첨 인원 수는 1명 이상이어야 합니다.");
      }
      else if(count > 10){
        window.alert("최대 추첨 인원 수는 10명 아래입니다.");
      }
      else{
      // api로 전송하고
        fetch(url)
          .then((result) => {
            return result.json();
          })
          .then(onResponse)
          .catch((err) => {
            console.log(err);
          });
      }
    }
  </script>
</head>
<body>
<h1>
  유튜브 댓글 추첨
</h1>
<br>
<div class="container">
  <div class="form-group">
    <label for="link">유튜브 영상 링크 입력: </label>
    <input type="text" id="link" name="link" placeholder="Youtube URL 혹은 Video ID" size=40>
  </div>
  <div>
    <label for="count">뽑을 인원 수 입력: </label>
    <input type="number" id="count" name="count" min="1" max="10">
  </div>
  <br>
  <button onclick="doRaffle()">
    추첨 시작!
  </button>
</div>
<br>
<div id="commentList">
</div>
</body>
</html>