<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>유튜브 댓글 추첨</title>
  <script src="script.js"></script>
</head>
<body>
<h1>
  유튜브 댓글 추첨
</h1>
<br>
<div class="container">
  <div class="form-group">
    <label for="link">유튜브 영상 링크 입력: </label>
    <input type="text" id="link" name="link" placeholder="Youtube URL 혹은 Video ID" size=40>
  </div>
  <div>
    <label for="count">뽑을 인원 수 입력: </label>
    <input type="number" id="count" name="count" min="1" max="10">
  </div>
  <br>
  <button onclick="doRaffle()">
    추첨 시작!
  </button>
</div>
<br>
<div id="commentList">
</div>
</body>
</html>